.smthg{
    color:#318CE7; //primary
    color: #484A4E; //secondary
    color: #fff; // third
    color: #EB852E; // fourth
    color: #9C6202; // fifth
    color: #11569C; // sixth
    color: #789E2A; // seventh
}